body.apps.new,
body.apps.edit {
  .myg-content {
    padding: myg-spacing(5) myg-spacing(4);

    & > form {
      padding-top: myg__px(15);

      & > nav {
        margin-top: myg__px(40);
      }

      h3:not(:first-child) {
        margin: myg__px(50) 0 myg__px(20);
      }

      .flex.reverse {
        margin-top: myg__px(50);
      }
    }
  }
}
