/.bundle
/.byebug_history

/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

/public/assets
/public/packs
/public/packs-test
/node_modules
/yarn-debug.log*
/yarn-error.log*
/.yarn-integrity

/config/settings.local.yml
/config/settings/*.local.yml
/config/environments/*.local.yml

# Ignore master key for decrypting credentials and more.
/config/master.key
