= component 'modalist', title: t('welcome.language.title') do
  = component 'modalist/closer'

= link_to 'Deutsch', url_without_parameters(request.referrer) + '?locale=de'
= link_to 'English', url_without_parameters(request.referrer) + '?locale=en'
