appetize:
  token: XXX

digital_ocean:
  aws_access_key_id: XXX
  aws_secret_access_key: XXX

github:
  username: XXX
  password: XXX

google_analytics:
  tracking_id: XXX

mailgun:
  api_key: XXX

onesignal:
  app_id: XXX
  auth_key: XXX

phonegap:
  username: XXX
  password: XXX

skylight:
  token: XXX


development:
  digital_ocean:
    space: XXX
  sentry_raven:
    dsn: XXX
  stripe:
    publishable_key: XXX
    secret_key: XXX


production:
  digital_ocean:
    space: XXX
  sentry_raven:
    dsn: XXX
  stripe:
    publishable_key: XXX
    secret_key: XXX


# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: XXX
