#app.myg-layout {
  & > .myg-toolbar {
    & > .mdc-toolbar__row {
      padding: 0 myg__px(20);

      @include myg-grid__smaller-than(tablet) {
        padding-right: 0;
      }

      & > section.mdc-toolbar__section.mdc-toolbar__section--align-start,
      & > section.mdc-toolbar__section.mdc-toolbar__section--align-end {
        & > a {
          color: myg-theme__color(text, base);
          font-size: myg__px(14);
          text-decoration: none !important;

          @include myg-animate__transition(color);

          &:hover {
            color: myg-theme__color(accent, base);
          }

          svg {
            margin-left: myg__px(5);
          }
        }
      }

      & > section.mdc-toolbar__section.mdc-toolbar__section--align-start {
        @include myg-grid__smaller-than(tablet) {
          display: none;
        }

        & > a {
          @include myg-grid__flex---center-y;

          img {
            height: myg__px(20);
            margin-right: myg__px(10);

            @include myg-theme__border-radius(2);
          }

          svg {
            margin-left: myg__px(15);
          }
        }
      }

      & > section.mdc-toolbar__section.mdc-toolbar__section--align-center {
        @include myg-grid__smaller-than(tablet) {
          justify-content: flex-start;
        }

        & > a {
          line-height: 0;
        }
      }

      & > section.mdc-toolbar__section.mdc-toolbar__section--align-end {
        &:not(.mobile) {
          display: none;
        }

        &.mobile {
          padding: 0;

          & > a {
            background: myg-theme__color(background, base);
            padding: 0 myg__px(20);

            @include myg-grid__flex;
            @include myg-grid__flex---center;
            @include myg-animate__transition(background);

            &:hover {
              background: myg-theme__color(background, lighter);
            }
          }
        }
      }

      @include myg-grid__bigger-than(tablet) {
        section.mdc-toolbar__section.mdc-toolbar__section--align-end {
          &:not(.mobile) {
            display: flex;
          }

          &.mobile {
            display: none;
          }
        }
      }
    }

    .myg-dropdown {
      img {
        height: myg__px(20);
        margin-right: myg__px(10);

        @include myg-theme__border-radius(2);
      }

      a {
        color: myg-theme__color(text, base);
      }
    }
  }
}
