body.users.passwords.new {
  .myg-card {
    form {
      margin-top: myg__px(35);

      .myg-grid__flex {
        margin-top: myg__px(35);

        a {
          text-decoration: none;

          @include myg-animate__transition(color);

          &:hover {
            color: myg-theme__color(accent, base);
          }

          &:not(:first-child) {
            margin-left: myg__px(20);
          }
        }
      }
    }
  }
}
