$myg-theme: (
  accent: (
    light: #5e80d7,
    base: #4764ae,
    dark: #2c4a96,
    contrast: #fff
  ),
  text: (
    lighter: #bec7cf,
    light: #97a4b0,
    base: #657786,
    dark: #3d4553,
    darker: #14171a
  ),
  background: (
    lighter: #fcfcfc,
    light: #fff,
    base: #fff,
    dark: #fbfbfd,
    darker: #ecf2f7
  ),
  border: #dce2e7,
  box-shadow: rgba(#000, 0.05),
  error: #f6809a,
  success: #6adb83,
  overlay: (
    light: transparentize(#e7ecf0, 0.13),
    dark: transparentize(#14171a, 0.87)
  )
) !default;

$myg-theme__scrollbar: (
  width: myg__px(5),
  track-background: transparent,
  thumb-border-radius: myg__px(2.5),
  thumb-background: myg-theme__color(border),
  thumb-hover-background: myg-theme__color(text, dark)
) !default;
