.modalist--content-body.apps.builds.key {
  flex-direction: column;
  padding: myg__px(35);

  @include myg-grid__flex---center;

  h2,
  p {
    text-align: center;
  }

  h2 {
    margin: 0;
  }

  p {
    margin: myg__px(5) 0 myg__px(35);
  }

  form {
    width: 100%;

    .myg-grid__flex.-reverse {
      margin-top: myg__px(25);
    }
  }
}
