body.welcome.index
    section#head
        background: color(accent, base)
        & > div
            padding: px(50) 0 px(75)
            +bigger-than(phone)
                padding: px(100) 0 px(125)
            +flex--center
            flex-direction: column
            text-align: center
            h1
                margin-bottom: 0
                max-width: 85%
                color: color(accent, contrast)
            p
                margin-bottom: px(40)
                +bigger-than(phone)
                    margin-bottom: px(75)
                width: px(800)
                max-width: 85%
                color: color(text, lighter)
            form
                max-width: 85%
                width: 100%
                +flex--center-m
                .myg-form-field
                    width: 100%
                    max-width: px(350)
                    margin-right: px(20)
                    input
                        border-color: color(accent, base)
                .myg-button
                    position: relative
                    top: 0
                    background: color(accent, light)
                    border-color: color(accent, light)
                    &:hover, &:focus, &:active
                        top: px(-1)
    section#explore
        padding: px(100) 0
        max-width: 85%
        text-align: center
        +flex--center
        flex-direction: column
        h2
            margin: 0
        p
            margin-top: px(5)
        .myg-grid
            margin: px(35) 0 px(25)
            & > a
                +myg-grid-span(4)
                +smaller-than(laptop)
                    &:last-child
                        display: none
                text-decoration: none !important
                img
                    height: px(48)
                    +border-radius(sm)
                h3
                    margin-bottom: 0
    section#features
        max-width: 85%
        padding-bottom: px(100)
        .feature
            text-align: left
            h2, p
                margin-left: 0
                +bigger-than(phone)
                    margin-right: 40%
            +bigger-than(phone)
                &:nth-child(2n)
                    text-align: right
                    h2, p
                        margin-left: 40%
                        margin-right: 0
            &:not(:first-child)
                margin-top: px(75)
    section#pricing
        padding-bottom: px(100)
        max-width: 85%
        width: px(768)
        text-align: center
        grid-template-columns: repeat(12, 1fr)
        +smaller-than(phone)
            display: none
        h2
            margin: 0
        p
            margin-top: px(5)
        .myg-tabs
            margin: px(50) auto 0
        .myg-tabs--panel
            .myg-grid
                +smaller-than(laptop)
                    overflow-x: scroll
                .myg-card
                    +myg-grid-span(4)
                    padding: px(25) 0 0
                    & > h1, & > p
                        margin-left: px(25)
                        margin-right: px(25)
                    h1
                        margin: 0
                        span
                            color: color(text, base)
                            font-size: px(16)
                            margin-left: px(-10)
                    .license
                        margin-top: px(25)
                        padding: px(15) px(25)
                        text-align: center
                        width: 100%
                        background: color(background, lighter)
                        p
                            margin: 0
                    &:nth-child(2)
                        background: color(accent, base)
                        border-color: color(accent, base)
                        h1, h3
                            color: color(accent, contrast)
                            span
                                color: color(text, lighter)
                        p
                            color: color(text, lighter)
                        .license
                            background: color(accent, dark)
                            p
                                color: color(accent, contrast)
            &#windows, &#chrome
                .myg-card
                    grid-column: 5 / span 4
