%h2= t('explore.install.title')
%p= t('explore.install.content', app: @app.name)
.myg-button--container
  - @platforms.each do |platform|
    = link_to(platform.to_s.titleize,
      @app.send(platform),
      target: '_blank',
      class: 'myg-button myg-button--secondary')
