%h1.sm= t('pwa.offline.title')
%p= t('pwa.offline.content')
.myg-button__container
  - if current_user
    = link_to t('pwa.offline.open_dashboard'), apps_path, class: 'myg-button'
  - else
    = link_to t('pwa.offline.open_nativegap'), root_path, class: 'myg-button'
